*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.main-head{
    min-height: 10vh;
    color: black;
    box-shadow: 1rem 2rem 2.5rem  #f0e3e3;
    
   
}


nav{
    display: flex;
    align-items: center;
 padding: 2rem; 

}
 nav #logo{
    flex: 2 1 20rem;
    font-size: 2rem;
    padding-left: 4rem;
    font-family: 'Great Vibes';

}
nav ul{
    flex: 1 1 20rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;

}
a{
    text-decoration: none;
    color: black;

}
.hero{
    height: 90vh;
    display: flex;
   
}
.hero .hero-introduction{
    flex: 1.75 1 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 

}
.hero h2{
    font-size: 3rem;
    padding: 2rem;
}
.hero p{
    font-size: 2rem;
    padding: 2rem;
}
.hero a{

  
  padding: 14px 25px;
  text-align: center;
   
    padding: 1rem 4rem;
    font-size: 2rem;
    /* border: 1rem; */

}
.hero a:link{
    background-color: rgb(250, 246, 246);
   border: 0.2rem solid black;
}
.hero .hero-images{
    flex: 1 1 10rem;
    background-color: rgba(218,214,219,255);
    z-index: -1;
    position: relative;
 
}
.hero-elena{

width: 100%;
height: 100%;

}
.plant{

  z-index: -1;
    
}
.plant1{
    position: absolute;
    right: 60%;
    bottom:0;
    width: 80%;
    height:80% ;


}
.plant2{
    position: absolute;
    right: 0;
    bottom: 30%;
    width: 60%;
}

#about{
    display: flex;
    min-height: 100vh;

}
#about .about-image{
flex: 1 1 20rem;
position: relative;
}
.about-image h5{
    position: absolute;
    top: 22%;
    left: 30%;
    font-size: 2rem;
    font-family: ;
    letter-spacing: 1rem;
}

.about-image img{
     width: 100%;
    height: 100%;
    object-fit: cover; 
}
#about .about-text{
    background-color:  rgba(65, 65, 65, 255);
   color: white;
    flex: 2 1 20rem;
    font-size: 2rem;
    padding: 2rem;
     position: relative;
     display: flex;
    flex-direction: column; 
    justify-content: center;

}
.about-text h2{
   font-family: great vibes;
   position: absolute;
   left: 40%;
   top: 5%;
   text-align: center; 
}
h3{
    font-family: 'Rolh Medium';
    padding: 2rem;

}
.about-life p{
    padding-bottom: 3rem;  
}
.about-work p{
    padding-bottom: 3rem;  
}
.about-contact p{
    padding-bottom: 3rem;
}

.gallery{
    min-height: 100vh;
    min-width: 100vh;
    position: relative;
    /* border:  black solid; */


}
.gallery1{
    position: absolute;
     left: 0;
    width: 60%;
    height: 50vh;

}
.gallery2{
    height: 100vh;
    width: 40%;
  right: 0;
    position: absolute;
}
 .gallery3{
    
  height: 50vh;
  width: 30%;

  position: absolute;
bottom: 0;
left: 0;
}
.gallery4{
    bottom: 0;
    left: 30%;
  height: 50vh;
  width: 30%;

  position: absolute;
    
} 
.contact{
    min-height: 90vh;
    display: flex;
    /* align-items: center; */
    width: 100%;

}
.contact .form-wrapper{
 flex: 1.2 1 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */

}
.form-wrapper h2{
    font-size: 2rem;
    padding: 1.5rem;
}
span{
    color: rgba(144,98,114,255);
    font-size: 3.5rem;
}
.form-wrapper form{
    display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
}
label{
    font-size: 1.7rem;
    padding: 1rem;
}
input{
    background-color: rgba(65,65,65,255);
    padding: 1rem;
    margin: 1rem;
    border: none;
    color: white;
}
button{
    color: white;
    background: rgba(144,98,114,255);
    padding: 1rem ;
    margin: 1rem;
    border: none;
    transition: all 1s ease;
}
button:hover{
    background-color: gainsboro;
    color:black;
    cursor: pointer;
}

.contact div img{



     height: 100%;
     /* width: 100%; */
     /* margin-right: 0; */
     /* padding-right: 0; */
   /* width: 60%;  */
   object-fit: cover;
   position: absolute;
   right: 0;
}
#im{
     position: relative;
     padding-right: 0;
    
    flex: 1 1 2rem;
    width: 100%;
    height: 90vh;
}


footer{
    min-height: 10vh;
    background-color:rgba(65,65,65,255)    ;
    color: blanchedalmond;
    display: flex;
}
footer h4{
    flex: 2 1 2rem;
    font-size: 1.8rem;
    padding: 2rem 4rem;
}
footer ul{
    flex: 1 1 2rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}






























